<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Industry Simulator</a>
        <div class="navbar-header">
            <button 
                class="navbar-toggler" 
                type="button" 
                (click)="isNavCollapsed = !isNavCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse" [class.collapse]="isNavCollapsed" (window:resize)="isNavCollapsed = true">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/stock">Stock</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/manufacturing">Manufacturing</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/retail">Retail</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/sales">Sales</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/purch">Purch</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item" routerLinkActive="active">
                    <app-money></app-money>
                </li>
            </ul>
        </div>
    </div>
</nav>