<h1>{{factory?.factoryType.name}}</h1>
<div>
    <div><span class="material-icons">area_chart</span> {{factory?.size}}</div>
    <button class="btn btn-secondary" (click)="addSize()">
        <div><span class="material-icons">area_chart</span> +{{getAreaAddSize()}}</div>
        <div><span class="material-icons">euro</span> {{5000 | currency:'':''}}</div>
    </button>
</div>
<div>
    <div><span class="material-icons">group</span> {{factory?.employees.length}} / {{maxEmployees}}</div>
    <button class="btn btn-secondary" (click)="addEmployee()">
        <span class="material-icons">person_add</span>
    </button>
    <button class="btn btn-secondary" (click)="removeEmployee()">
        <span class="material-icons">person_remove</span>
    </button>
</div>
<div><span class="material-icons">precision_manufacturing</span> {{output}}/tick</div>
<div><span class="material-icons">euro</span> {{cost | currency:'':''}}/tick</div>