<div class="mb-3">
    <div class="btn-group" dropdown #dropdown="bs-dropdown" [insideClick]="true">
        <button
            class="btn btn-success dropdown-toggle"
            dropdownToggle>
            <span class="material-icons">add</span>
        </button>
        <ul 
            *dropdownMenu 
            class="dropdown-menu">
            <li role="menuitem">
                <app-manufacturing-new (close)="dropdown.hide()"></app-manufacturing-new>
            </li>
        </ul>
    </div>
</div>

<app-manufacturing-list></app-manufacturing-list>