<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td scope="row">
                <img src="{{product.imgPath}}" alt="{{product.name}}">
                {{product.name}}
            </td>
            <td>{{product.amount}} ({{product.lastIncome >= 0 ? '+' : '-'}}{{product.lastIncome}})</td>
        </tr>
    </tbody>
</table>