<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <img src="assets/products/apples.svg" alt="apple">
                apples
            </td>
            <td>0 (+0)</td>
        </tr>
        <tr>
            <td scope="row">
                <img src="assets/products/cherries.svg" alt="cherry">
                cherries
            </td>
            <td>0 (+0)</td>
        </tr>
        <tr>
            <td scope="row">
                <img src="assets/products/logs.svg" alt="log">
                logs
            </td>
            <td>0 (+0)</td>
        </tr>
    </tbody>
</table>