<div class="card h-100" style="width: 18rem;">
    <img src={{factory.imgPath}} class="card-img-top" alt="apple">
    <div class="card-body text-center">
        <h5 class="card-title">{{factory.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Size: {{factory.size}} ha</li>
        <li class="list-group-item">Location: {{factory.location}}</li>
        <li class="list-group-item">Employees: {{factory.employees.length}}</li>
        <li class="list-group-item">Output: 0 kg/month</li>
        <li class="list-group-item">Cost: 0 €/month</li>
    </ul>
    <div class="card-body text-center">
        <button class="btn btn-primary">Details</button>
    </div>
</div>