<div class="card h-100" style="width: 18rem;">
    <img src={{factory.imgPath}} class="card-img-top" alt="apple">
    <div class="card-body text-center">
        <h5 class="card-title">{{factory.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item tool"><span class="material-icons">area_chart</span> {{factory.size}}</li>
        <li class="list-group-item"><span class="material-icons">group</span> {{factory.employees.length}} / {{maxEmployees}}</li>
        <li class="list-group-item"><span class="material-icons">precision_manufacturing</span> {{output}} kg/tick</li>
        <li class="list-group-item"><span class="material-icons">euro</span> {{cost}}/tick</li>
    </ul>
    <div class="card-body text-center">
        <button
            class="btn btn-primary"
            [routerLink]="[factory.id]"
            >Details</button>
    </div>
</div>