<div class="col-xs-12 col-md-6 mb-3">
    <h4>Change E-Mail</h4>
    <span>E-Mail: {{user.email}}</span>
    <div *ngIf="changeEmailIsLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()" *ngIf="!changeEmailIsLoading">
        <div class="row">
            <div class="form-floating col-sm-9">
                <input
                type="text"
                id="email"
                formControlName="email"
                #email
                class="form-control"
                [class.is-invalid]="changeEmailForm.get('email').invalid && (changeEmailForm.get('email').dirty || changeEmailForm.get('email').touched)">
                <label for="email">E-Mail</label>
                <span
                *ngIf="changeEmailForm.get('email').invalid && (changeEmailForm.get('email').dirty || changeEmailForm.get('email').touched) && changeEmailForm.get('email').errors.required"
                class="invalid-tooltip"
                >E-Mail is required</span>
            </div>
            <div class="col-sm-3">
                <button
                type="submit"
                [disabled]="!changeEmailForm.valid"
                class="btn btn-primary"
                >change</button>
            </div>
        </div>
    </form>
</div>
<div class="col-xs-12 col-md-6 mb-3">
    <h4>Change Password</h4>
    <div *ngIf="changePasswordIsLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" *ngIf="!changePasswordIsLoading">
        <div class="row">
            <div class="form-floating col-sm-9">
                <input
                type="password"
                id="password"
                formControlName="password"
                #password
                class="form-control"
                [class.is-invalid]="changePasswordForm.get('password').invalid && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
                <label for="password">Password</label>
                <span
                *ngIf="changePasswordForm.get('password').invalid && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched) && changePasswordForm.get('password').errors.required"
                class="invalid-tooltip"
                >Password is required</span>
                <span
                *ngIf="changePasswordForm.get('password').invalid && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched) && changePasswordForm.get('password').errors.minlength"
                class="invalid-tooltip"
                >Your Password must be at least 6 characters long.</span>
            </div>
            <div class="col-sm-3">
                <button
                type="submit"
                [disabled]="!changePasswordForm.valid"
                class="btn btn-primary"
                >change</button>
            </div>
        </div>
    </form>
</div>